#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* 8888888888 */
.parent{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* padding-right: 100px; */
  gap: 30px;
  flex-wrap: wrap;
  
}
.child{
  
  border-radius: 5px;
  height: 250px;
  width: 300px;
  background-color: rgb(249, 252, 252);
  box-shadow: 0 0  4px  #a7a3a3;
  transition: transform 0.4s;
  
}
.child:hover{
  transform: translateY(-5px);
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;
 
}

.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 420px ) {
  .parent{
    grid-template-columns: repeat(2,1fr);
  }
  .pagination{
    gap: 0.1rem;
    
  }
}
@media (min-width: 768px){
  .parent{
    grid-template-columns: repeat(3,1fr);
  }
  .pagination{
    gap: 0.1rem;
   
  }
  
}



@media (min-width: 1024px ) {
  .parent{
    grid-template-columns: repeat(4,1fr);
  }
  .pagination{
    gap: 0.1rem;
    
  }
}

